body {	font-size: 12px;  padding:0; margin-top: 0px; background:url(/skin/17.jpg)  no-repeat center top  #A7EAFB;}
#t {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; FONT-SIZE: 1.2em; PADDING-BOTTOM: 5px; LINE-HEIGHT: 16px; PADDING-TOP: 8px; HEIGHT: 5px
}
#yd {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../yuegaima/logo-4.png", sizingMethod="crop"); MARGIN: 0px auto; WIDTH: 360px; TEXT-INDENT: -9999em; HEIGHT: 135px
}
.baise {color: #FFFFFF;}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #FFFFFF;
}
a:active {
	color: #FFFFFF;
}