body {	margin-top: 0px; font-size: 12px;  padding:0; margin:0; margin:auto; background:url(/skin/19.jpg)  no-repeat center top #FFF;}
#t {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; FONT-SIZE: 1.2em; PADDING-BOTTOM: 5px; LINE-HEIGHT: 20px; PADDING-TOP: 8px; HEIGHT: 16px
}
#yd {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../yuegaima/logo-1.png", sizingMethod="crop"); MARGIN: 0px auto; WIDTH: 360px; TEXT-INDENT: -9999em; HEIGHT: 135px
}