body {	font-size: 12px;  padding:0; margin-top: 0px; background:url(/skin/3.jpg)  no-repeat center top #FEF3ED;}
#t {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; FONT-SIZE: 1.2em; PADDING-BOTTOM: 5px; LINE-HEIGHT: 16px; PADDING-TOP: 6px; HEIGHT: 16px
}
#yd {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../yuegaima/logo-3.png", sizingMethod="crop"); MARGIN: 0px auto; WIDTH: 360px; TEXT-INDENT: -9999em; HEIGHT: 135px
}