HTML {
	HEIGHT: 100%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 63%; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: -4px 0px 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,sans-serif; HEIGHT: 100%
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.pm {
	BORDER-RIGHT: #8cbbdd 1px solid; BORDER-TOP: #8cbbdd 1px solid; DISPLAY: none; FONT-SIZE: 1.2em; BACKGROUND: #fff; BORDER-LEFT: #8cbbdd 1px solid; WIDTH: 70px; BORDER-BOTTOM: #8cbbdd 1px solid; POSITION: absolute
}
.pm A {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; ZOOM: 1; TEXT-DECORATION: none
}
.pm A:hover {
	BACKGROUND: #3971bf; COLOR: #fff
}
.aa_highlight {
	BACKGROUND: #3971bf; COLOR: #fff
}
.pm .sl {
	FONT-SIZE: 0px; MARGIN: -10px 1px 0px; BORDER-BOTTOM: #8cbbdd 1px solid; HEIGHT: 0px
}
.sp {
	BACKGROUND: url(s.png)
}
#t {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; FONT-SIZE: 1.4em; PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-TOP: 7px; HEIGHT: 20px
}
#t A {
	MARGIN: 0px 0.15em; TEXT-DECORATION: none
}
#t STRONG {
	MARGIN: 0px 0.15em; TEXT-DECORATION: none
}
#t A:hover {
	TEXT-DECORATION: underline
}
#t .mn {
	ZOOM: 1; POSITION: relative
}
#t .mn:hover {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.mn  {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.mn:hover U {
	TEXT-DECORATION: underline
}
.mn S {
	DISPLAY: block; FONT-SIZE: 8px; RIGHT: -12px; WIDTH: 10px; CURSOR: pointer; FONT-FAMILY: serif; TOP: -1px; HEIGHT: 10px
}
#mt S {
	POSITION: absolute
}
#t #mn {
	MARGIN-RIGHT: 0.8em
}
#mn S {
	POSITION: absolute
}
#t .sl {
	FONT-SIZE: 12px; MARGIN: 0px 0.3em; COLOR: #98aed3; POSITION: relative; TOP: -2px
}
#u .sl {
	MARGIN: 0px 0.1em; TOP: -1px
}
#mn:hover S {
	DISPLAY: block; POSITION: absolute
}
#u {
	FONT-SIZE: 0.86em; FLOAT: right
}
#w {
	MARGIN: 22px auto 0px; WIDTH: 960px
}
#yd {
	MARGIN: 0px auto; WIDTH: 360px; TEXT-INDENT: -9999em; HEIGHT: 135px
}
#fw {
	MARGIN: 0px auto; WIDTH: 451px; HEIGHT: 42px
}
#fc {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 442px; PADDING-TOP: 5px; POSITION: relative; HEIGHT: 33px
}
#fc INPUT {
	BORDER-TOP-STYLE: none; FONT-FAMILY: Arial,sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#qc {
	BORDER-RIGHT: #6a8aae 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 356px; PADDING-TOP: 3px; POSITION: relative
}
#fc #query {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 1.6em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: -1px 0px; BORDER-LEFT: #fff 1px solid; WIDTH: 326px; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 22px; outline: none
}
#aca {
	BACKGROUND-POSITION: -415px -3px; RIGHT: 2px; OVERFLOW: hidden; WIDTH: 26px; CURSOR: pointer; TEXT-INDENT: -9999em; PADDING-TOP: 26px; POSITION: absolute; TOP: 3px; HEIGHT: 0px
}
#fc #qb {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right -50px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 1.4em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -3px; WORD-SPACING: 4px; WIDTH: 81px; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 2px; HEIGHT: 33px
}
#fa {
	FONT-SIZE: 1.2em; LEFT: 100%; WIDTH: 5em; POSITION: absolute; TOP: 13px
}
#ao {
	FONT-SIZE: 1.2em; MARGIN: 5em auto; WIDTH: 32em; TEXT-ALIGN: center
}
#b {
	FONT-SIZE: 1.2em; Z-INDEX: 10; POSITION: relative; TEXT-ALIGN: center
}
#b P {
	MARGIN: 0.7em 0px 0px
}
#cr {
	COLOR: #808080
}
.sw {
	BORDER-RIGHT: #8cbbdd 1px solid; BORDER-TOP: #8cbbdd 1px solid; FONT-SIZE: 1.4em; BORDER-LEFT: #8cbbdd 1px solid; BORDER-BOTTOM: #8cbbdd 1px solid
}
.sw TABLE {
	BACKGROUND: #fff; BORDER-COLLAPSE: collapse
}
.remindtt752 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-SIZE: 0.95em; PADDING-BOTTOM: 0.2em; COLOR: #808080; PADDING-TOP: 0.2em
}
.remindtt75 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
.jstxlan {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
.jstxlan {
	FONT-SIZE: 0.96em; CURSOR: pointer; COLOR: #808080
}
.jstxhuitiaoyou {
	BORDER-TOP: #dbeffe 1px solid; BACKGROUND: #eaf1fd; MARGIN: -1px 0px; POSITION: relative
}
#h {
	DISPLAY: none
}

