BODY {
	FONT-SIZE: 14px; BACKGROUND: #fff; COLOR: #333; LINE-HEIGHT: 180%
}
 {
	TABLE-LAYOUT: fixed; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-BREAK: normal; PADDING-TOP: 0px; FONT-FAMILY: "ו",Arial; WORD-WRAP: break-word
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	COLOR: #0e6dbc; TEXT-DECORATION: none
}
.fB {
	FONT-WEIGHT: bold
}
.blank10 {
	CLEAR: both; OVERFLOW: hidden; HEIGHT: 10px
}
.blank5 {
	CLEAR: both; OVERFLOW: hidden; HEIGHT: 5px
}
.head {
	CLEAR: both; MARGIN: 5px auto 0px; WIDTH: 950px
}
.wrap {
	CLEAR: both; MARGIN: 5px auto 0px; WIDTH: 950px
}
.foot {
	CLEAR: both; MARGIN: 5px auto 0px; WIDTH: 950px
}
DIV.border {
	BORDER-RIGHT: #ace 1px solid; BORDER-TOP: #ace 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ace 1px solid; BORDER-BOTTOM: #ace 1px solid
}
.top {
	FONT-SIZE: 12px; Z-INDEX: 99999; WIDTH: 100%; BORDER-BOTTOM: #e5e5e5 1px solid; POSITION: relative
}
.top SPAN {
	PADDING-RIGHT: 10px; FLOAT: right; COLOR: #9bcbf6
}
.top SPAN A {
	COLOR: #044691
}
.top EM {
	FONT-STYLE: normal
}
.top STRONG {
	COLOR: #f39800
}
.logo {
	CLEAR: both; MARGIN-TOP: 5px; WIDTH: 100%
}
.logo IMG {
	DISPLAY: inline; MARGIN: 0px 6px 0px 30px
}
.logo IMG.lo {
	FLOAT: left
}
.logo P {
	FLOAT: right
}
.searchBox {
	CLEAR: both; BORDER-RIGHT: #9bcbf6 1px solid; BORDER-TOP: #9bcbf6 1px solid; MARGIN-TOP: 5px; Z-INDEX: 1; BACKGROUND: #ecf7ff; BORDER-LEFT: #9bcbf6 1px solid; BORDER-BOTTOM: #9bcbf6 1px solid; HEIGHT: 90px
}
.tab {
	CLEAR: both; PADDING-LEFT: 96px; MARGIN: 0px auto; COLOR: #9bcbf6; PADDING-TOP: 5px
}
.tab B {
	FONT-WEIGHT: normal; MARGIN: 0px 8px; CURSOR: pointer; COLOR: #0e6dbc
}
.tab B.bStyle {
	FONT-WEIGHT: bold; CURSOR: auto; COLOR: #000
}
.tab SPAN {
	PADDING-RIGHT: 20px; FONT-SIZE: 12px; FLOAT: right
}
.search {
	CLEAR: both; Z-INDEX: 9999; MARGIN: 0px auto; WIDTH: 96%; POSITION: relative
}
.search A {
	FONT-SIZE: 12px
}
.search INPUT {
	VERTICAL-ALIGN: middle
}
.search INPUT.i {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 4px; FONT-SIZE: 14px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 410px; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px solid
}
.search INPUT.btns {
	DISPLAY: inline; BACKGROUND: url(http://hao.360.cn/img/btn_s.gif) no-repeat 0px top; MARGIN-LEFT: 8px; WIDTH: 88px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 30px; BORDER-BOTTOM-STYLE: none
}
.search INPUT.btng {
	DISPLAY: inline; BACKGROUND: url(http://hao.360.cn/img/btn_s.gif) no-repeat 0px top; MARGIN-LEFT: 8px; WIDTH: 88px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 30px; BORDER-BOTTOM-STYLE: none
}
.search INPUT.btng {
	BACKGROUND-POSITION: 0px -30px
}
.links {
	BORDER-RIGHT: #b4de9d 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b4de9d 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f3ffe9; PADDING-BOTTOM: 6px; BORDER-LEFT: #b4de9d 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #b4de9d 1px solid
}
.links P SPAN {
	FLOAT: right
}
.links {
	FONT-SIZE: 12px; COLOR: #117b11
}
.links P A {
	FONT-SIZE: 12px; COLOR: #117b11
}
#leftBox {
	FLOAT: left; WIDTH: 160px; LINE-HEIGHT: 25px
}
#leftBox DIV.border {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f3faff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#leftBox H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #005b00; PADDING-TOP: 6px; TEXT-ALIGN: center
}
#leftBox UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 95%; PADDING-TOP: 5px; BORDER-BOTTOM: #a8a8a8 1px dashed
}
#leftBox LI {
	FLOAT: left; WIDTH: 33%; TEXT-ALIGN: center
}
#leftBox UL.bn {
	BORDER-BOTTOM-STYLE: none
}
#leftBox .weatherborder {
	BORDER-RIGHT: #b9d4e2 1px solid; BORDER-TOP: #b9d4e2 1px solid; PADDING-BOTTOM: 5px; BORDER-LEFT: #b9d4e2 1px solid; BORDER-BOTTOM: #b9d4e2 1px solid
}
#leftBox .weatherborder SPAN {
	FONT-SIZE: 12px; FLOAT: right; MARGIN-RIGHT: 10px
}
#leftBox .weatherborder H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #060; TEXT-INDENT: 10px; LINE-HEIGHT: normal; TEXT-ALIGN: left
}
#leftBox .weatherborder P {
	CLEAR: both; FONT-SIZE: 12px; LINE-HEIGHT: 140%
}
.xline {
	BORDER-TOP: #eaeaea 1px solid
}
#rightBox {
	FLOAT: right; WIDTH: 780px
}
.login {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fcffff; PADDING-BOTTOM: 3px; PADDING-TOP: 2px
}
.login P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 100%; PADDING-TOP: 4px
}
.login P A {
	TEXT-DECORATION: underline
}
.login P B {
	COLOR: #0756a4
}
.login P INPUT.lg {
	BORDER-RIGHT: #96bdd2 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #96bdd2 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #96bdd2 1px solid; WIDTH: 120px; PADDING-TOP: 2px; BORDER-BOTTOM: #96bdd2 1px solid
}
.login P INPUT.lg {
	MARGIN-BOTTOM: -2px
}
.login P SELECT {
	MARGIN-BOTTOM: -2px
}
.login P INPUT.dl {
	MARGIN-BOTTOM: -3px
}
.moreWeb {
	MARGIN: 0px auto; WIDTH: 774px
}
.moreWeb UL {
	CLEAR: both; WIDTH: 100%
}
.moreWeb LI {
	FLOAT: left; WIDTH: 109px; LINE-HEIGHT: 200%; TEXT-ALIGN: left
}
.moreWeb LI A.green {
	MARGIN-LEFT: 15px; COLOR: #117b11
}
.tit {
	CLEAR: both; PADDING-RIGHT: 10px; MARGIN-TOP: 2px; PADDING-LEFT: 10px; BACKGROUND: #edf6ff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tit STRONG {
	COLOR: #07519a
}
.tit STRONG A {
	COLOR: #07519a; TEXT-DECORATION: none
}
.tit SPAN {
	FLOAT: right
}
.tit SPAN {
	FONT-SIZE: 12px; COLOR: #117b11
}
.tit SPAN A {
	FONT-SIZE: 12px; COLOR: #117b11
}
.imporBox {
	CLEAR: both; WIDTH: 100%
}
.webNav {
	FLOAT: left; WIDTH: 570px
}
.tool {
	BORDER-RIGHT: #b4de9d 1px solid; BORDER-TOP: #b4de9d 1px solid; BACKGROUND: #fffef3; FLOAT: right; BORDER-LEFT: #b4de9d 1px solid; WIDTH: 200px; BORDER-BOTTOM: #b4de9d 1px solid
}
.title {
	BACKGROUND: #f3ffe9; WIDTH: 100%; LINE-HEIGHT: normal; BORDER-BOTTOM: #b4de9d 1px solid; HEIGHT: 25px
}
.title SPAN {
	FLOAT: right; MARGIN-RIGHT: 10px; PADDING-TOP: 6px
}
.title DIV {
	PADDING-RIGHT: 6px; MARGIN-TOP: 3px; DISPLAY: inline; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; COLOR: #178517; LINE-HEIGHT: 20px; PADDING-TOP: 0px
}
.tool UL {
	MARGIN: 0px auto; WIDTH: 90%; PADDING-TOP: 7px
}
.tool LI {
	FLOAT: left; WIDTH: 33%
}
.tool LI {
	FONT-SIZE: 12px; COLOR: #178517
}
.tool LI A {
	FONT-SIZE: 12px; COLOR: #178517
}
#tag {
	CLEAR: both; MARGIN-TOP: -1px; WIDTH: 100%; BOTTOM: -1px; POSITION: relative
}
#tag LI {
	BORDER-RIGHT: #a2c6ec 1px solid; BORDER-TOP: #a2c6ec 1px solid; DISPLAY: inline; BACKGROUND: #ecf7ff; FLOAT: left; BORDER-LEFT: #a2c6ec 1px solid; WIDTH: 74px; CURSOR: pointer; COLOR: #07519a; LINE-HEIGHT: 26px; MARGIN-RIGHT: 2px; BORDER-BOTTOM: #a2c6ec 1px solid; TEXT-ALIGN: center
}
#tag LI.at {
	FONT-WEIGHT: bold; BACKGROUND: #fff; WIDTH: 120px; CURSOR: default; PADDING-TOP: 1px; BORDER-BOTTOM-STYLE: none
}
.ulCon {
	BORDER-RIGHT: #ace 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ace 1px solid; DISPLAY: none; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; BORDER-LEFT: #ace 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #ace 1px solid
}
.ulCon UL {
	CLEAR: both; BACKGROUND: url(http://hao.360.cn/img/xline.gif) repeat-x 50% bottom; PADDING-BOTTOM: 4px; MARGIN: 0px auto; WIDTH: 98%; PADDING-TOP: 4px
}
.ulCon LI {
	FLOAT: left; WIDTH: 20%; TEXT-ALIGN: center
}
.ulCon LI.hot {
	WIDTH: 100%; TEXT-ALIGN: left
}
.ulCon LI A.red {
	COLOR: #fd2828
}
.ulCon UL.no {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.date {
	MARGIN-TOP: 5px; DISPLAY: inline; BACKGROUND: url(http://hao.360.cn/img/xline611.gif) no-repeat right center; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN-LEFT: 20px; WIDTH: 200px; TEXT-ALIGN: center
}
.date P {
	CLEAR: both; FONT-SIZE: 12px; FLOAT: none; LINE-HEIGHT: 120%
}
.setDiy TD P {
	CLEAR: both; FONT-SIZE: 12px; FLOAT: none; LINE-HEIGHT: 120%
}
.diy {
	FLOAT: left; WIDTH: 495px
}
.diy SPAN {
	FONT-SIZE: 12px; CURSOR: pointer; COLOR: #044691
}
.diy IMG {
	MARGIN: 0px
}
.getDiy {
	PADDING-TOP: 10px
}
.setDiy {
	PADDING-TOP: 3px
}
.setDiy TD {
	PADDING-LEFT: 12px
}
.setDiy TD IMG {
	FLOAT: left; MARGIN-RIGHT: 6px
}
.setDiy TD DIV {
	FONT-SIZE: 12px; FLOAT: left; PADDING-TOP: 5px
}
.logo STRONG {
	FONT-SIZE: 14px; COLOR: #f49800
}
.foot {
	FONT-SIZE: 12px; COLOR: #666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.cRed {
	COLOR: #f00
}
LI A.cRed {
	COLOR: #f00
}
A.cRed {
	COLOR: #f00
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.line {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #ffffff; BORDER-BOTTOM: #aaccee 1px solid
}
.f12 {
	FONT-SIZE: 12px
}
.cGreen {
	COLOR: #339900
}
A.cGreen {
	COLOR: #339900
}
A.cGreen:hover {
	COLOR: #339900; TEXT-DECORATION: underline
}
.wdBox {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 558px; HEIGHT: 275px
}
.tabss {
	MARGIN-TOP: -16px; FLOAT: left; WIDTH: 258px
}
.rList {
	FLOAT: right; WIDTH: 280px; PADDING-TOP: 10px
}
.rList TD {
	COLOR: #0e6dbc
}
.selectHead {
	CLEAR: both; MARGIN-TOP: 10px; PADDING-LEFT: 6px; TEXT-ALIGN: center
}
.selectHead INPUT.i {
	MARGIN: 0px 5px; WIDTH: 140px; HEIGHT: 20px
}
.listContainer {
	CLEAR: both; OVERFLOW: hidden; HEIGHT: 1px
}
.a_d {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px
}
.a_d LI {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 11%; COLOR: #000000
}
.a_d LI A {
	COLOR: #178517
}
.top SPAN IMG {
	MARGIN-BOTTOM: 1px
}
#weatherInfo {
	HEIGHT: 232px
}
#weatherInfo H1 {
	TEXT-ALIGN: left
}
#weatherInfo .cbox {
	MARGIN: 0px auto; WIDTH: 88%
}
#weatherInfo .cbox P {
	FONT-SIZE: 12px
}
.oLine {
	BORDER-TOP: #eaeaea 1px solid; FLOAT: left; WIDTH: 100%; PADDING-TOP: 6px; BORDER-BOTTOM: #eaeaea 1px solid
}
.wArea A {
	FLOAT: right
}
.wArea B {
	FONT-SIZE: 12px; COLOR: #333
}
.weather {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; WIDTH: 100%; COLOR: #333; LINE-HEIGHT: 120%; PADDING-TOP: 6px
}
.weather IMG {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 8px
}
.weather STRONG {
	FONT-SIZE: 12px
}
P.fr {
	TEXT-ALIGN: right
}
.seBox {
	BACKGROUND: url(http://hao.360.cn/img/sp2.gif) no-repeat 0px -1px; FLOAT: none; HEIGHT: 28px
}
.seBtn {
	DISPLAY: inline; FONT-SIZE: 14px; MARGIN-LEFT: 5px; WIDTH: 84px; CURSOR: pointer; COLOR: #000; HEIGHT: 29px
}
.sbtn {
	BACKGROUND: url(http://hao.360.cn/img/seinput.gif) no-repeat right top; LEFT: 591px; WIDTH: 22px; CURSOR: pointer; POSITION: absolute; TOP: 0px; HEIGHT: 30px
}
.sbtn1 {
	BACKGROUND: url(http://hao.360.cn/img/seinput.gif) no-repeat right top; LEFT: 591px; WIDTH: 22px; CURSOR: pointer; POSITION: absolute; TOP: 0px; HEIGHT: 30px
}
.sbtn1 {
	BACKGROUND-POSITION: right -30px
}
.select {
	CLEAR: both; PADDING-LEFT: 84px; FONT-SIZE: 12px; PADDING-TOP: 4px
}
.select INPUT {
	VERTICAL-ALIGN: text-bottom
}
.select INPUT {
	FLOAT: left
}
.select LABEL {
	FLOAT: left
}
.select LABEL {
	WIDTH: 60px
}
UNKNOWN {
	MARGIN: 5px 4px 0px 0px
}
 HTML .select INPUT {
	MARGIN-TOP: 2px
}
UNKNOWN {
	MARGIN: 2px 1px 0px 0px
}
.select SPAN {
	FLOAT: left
}
#dBtn {
	BACKGROUND: #000
}
#ifrm3 {
	MARGIN: 0px auto
}
#ifrm4 {
	MARGIN: 0px auto
}
#ifrm5 {
	MARGIN: 0px auto
}
#con3 {
	TEXT-ALIGN: center
}
#con4 {
	TEXT-ALIGN: center
}
#con5 {
	TEXT-ALIGN: center
}
EM.setBtn {
	PADDING-RIGHT: 6px; PADDING-LEFT: 24px; FLOAT: left; CURSOR: pointer; COLOR: #044691; FONT-STYLE: normal
}
#set IFRAME {
	BORDER-RIGHT: #e5e5e5 1px solid; BORDER-TOP: #e5e5e5 1px solid; DISPLAY: inline; MARGIN-LEFT: 6px; BORDER-LEFT: #e5e5e5 1px solid; BORDER-BOTTOM: #e5e5e5 1px solid
}
#set {
	BORDER-RIGHT: #9acbf7 1px solid; BORDER-TOP: #9acbf7 1px solid; RIGHT: 0px; BACKGROUND: #d3ecff; BORDER-LEFT: #9acbf7 1px solid; WIDTH: 224px; BORDER-BOTTOM: #9acbf7 1px solid; POSITION: absolute; TOP: 1px; HEIGHT: 116px
}
#set P {
	BACKGROUND: url(http://hao.360.cn/img/col_ico.gif) no-repeat right 4px; MARGIN: 0px auto; WIDTH: 94%; LINE-HEIGHT: 180%
}
#set P B {
	PADDING-RIGHT: 16px; FONT-WEIGHT: normal; FLOAT: right; CURSOR: pointer; COLOR: #08458c
}
#set EM {
	PADDING-RIGHT: 6px; PADDING-LEFT: 24px; BACKGROUND: url(http://hao.360.cn/img/set_ico.gif) no-repeat 7px -2px; COLOR: #044691; FONT-STYLE: normal
}
.a_d {
	CLEAR: both; WIDTH: 100%; HEIGHT: 30px
}
.a_d LI {
	FLOAT: left; WIDTH: 11%; LINE-HEIGHT: 30px
}
.keyText {
	RIGHT: -2px; WIDTH: 300px; LINE-HEIGHT: 160%; POSITION: absolute; TOP: -30px
}
.keyText STRONG {
	FONT-SIZE: 12px; COLOR: #f39800
}
.keyText TD {
	VERTICAL-ALIGN: middle; HEIGHT: 88px
}
.top:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.logo:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.searchBox:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
#tag:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
#rightBox:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.search:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
DIV.border:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
#leftBox UL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.imporBox:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.title:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.ulCon:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.ulCon UL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
#left:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.tool UL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.a_d:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
#suggests {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: none; Z-INDEX: 5; BACKGROUND: #fff; LEFT: 85px; BORDER-LEFT: #ccc 1px solid; WIDTH: 418px; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TOP: 30px
}
#suggests TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; FONT: 12px/20px Verdana; PADDING-TOP: 0px
}
.date {
	MARGIN-TOP: 2px
}
.date P {
	LINE-HEIGHT: 210%
}
.ss {
	BORDER-RIGHT: #b4de9d 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #b4de9d 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #b4de9d 1px solid
}
