/* CSS Document */
html,body{text-align:center;margin:0px;padding:0px;font-size:12px;background-color:#FFF}
img{border:0px}
form{ margin:0px; padding:0px}
a{color:#848585; font-size:12px; text-decoration:none}
a:hover{color:#000}
table.bottom1_table td a,a.c_blue{ color:#0068c1}
table.bottom1_table td a:hover,a.c_blue:hover{ color:#005dbc}
a.c_black{ color:#333}
a.c_black:hover{ color:#000}



.Top{
	width:795px;
	height:43px;
	background-color:#FFF;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.T_right{height:auto; width:333px; float:right;display:inline; margin-top:14px; font-size:12px; margin-right:14px; text-align:left; color:#848585}
.logo_float{float:left; margin-top:0px; margin-left:10px}

.Main{width:795px; height:440px; background-color:#ffffff; margin-top:10px; margin-bottom:1px; margin-left:auto; margin-right:auto}
.Main_left{width:414px; height:433px; background-color:#ffffff; float:left}
.Main_left_logo{height:20px; width:414px; background-color:#FFFFFF}
.Main_left_logo_a{width:240px; height:15px; background-image:url(main-pic.gif); background-repeat:no-repeat; background-position:-415px -12px;float:left; margin-top:13px; margin-left:11px; display:inline}
.Main_left_text_1{height:35px; width:395px; margin:75px auto 0px auto; background-color:#FFFFFF; overflow:hidden}
.Main_left_text_img{width:106px; height:18px;float:left; float:right; margin-top:16px; margin-right:32px; display:inline}
.Main_left_text_1a{font-size:12px; text-align:left; color:#848585; line-height:20px}
.Main_left_bottom{height:120px; width:414px; margin:193px auto auto auto; background-color:#FFFFF}
.Main_left_bottom_img{width:53px; height:59px; background-image:url(main-pic.gif); background-repeat:no-repeat; background-position:-82px -98px;float:left; margin-top:0px; margin-left:10px;display:inline}
.Main_left_bottom_text{height:77px; width:95px; float:left; margin-top:5px; margin-left:11px; background-color:#FFFFFF}
.Main_left_bottom_text1{text-align:left}
.Main_left_bottom_text1 a{font-size:14px; font-weight:bold; color:#087ad4}
.Main_left_bottom_text2{text-align:left; font-size:12px; line-height:20px; color:#848585; margin-top:8px}
.Main_left_bottom_img1{width:53px; height:54px; background-image:url(main-pic.gif); background-repeat:no-repeat; background-position:-13px -101px;float:left; margin-top:0px; margin-left:35px;display:inline}
.Main_left_bottom_texta{height:77px; width:110px; float:left; margin-top:5px; margin-left:10px; background-color:#FFFFFF}
.Main_left_bottom_texta1{text-align:left}
.Main_left_bottom_texta1 a{font-size:14px;  font-weight:bold; color:#087ad4}
.Main_left_bottom_texta2{text-align:left; font-size:12px; line-height:20px; color:#848585; margin-top:8px}

.login{width:378px; height:390px; background-color:#ffffff; float:right; margin-top:41px; margin-right:3px; display:inline}
.login_month{
	position:absolute;
	left:230px;
	top:-36px;
	width:145px;
	height:72px;
	background-image: url(month-0909.jpg);
	background-repeat: no-repeat;
}
.login_month_img{
	position:absolute;
	right:375px;
	top:72px;
	width:414px;
	height:190px;
	background-image: url(big-month-0909.jpg);
	background-repeat: no-repeat;
}
.login_month_img1{
	position:absolute;
	left:369px;
	top:18px;
	width:100px;
	height:280px;
	background-image:url(big-month-0909.jpg);
	background-repeat:no-repeat;
	background-position:-419px 39px;
}
.login_top,.login_bottom{width:378px; background-image:url(main-pic.gif); background-repeat:no-repeat;font-size:0px; line-height:0px; }
.login_top{background-position:-10px -55px;height:12px;overflow:hidden}
.login_bottom{background-position:-10px -79px;height:13px}
.login_middle{height:354px; background-color:#FFFFFF; background-image:url(login-middle.jpg); background-repeat:repeat-y}
.login_middle_img{width:32px; height:32px; float:left; background-image:url(main-pic.gif); background-repeat:no-repeat; background-position:-258px -113px; margin-top:11px; margin-left:33px;display:inline}
.login_middle_img1{width:144px; height:17px; background-image:url(main-pic.gif); background-repeat:no-repeat; background-position:-414px -46px; float:left; margin-top:19px; margin-left:17px; font-size:0px; line-height:0px}
.login_middle_clear{clear:both; height:0px; font-size:0px;line-height:0px; overflow:hidden}
.login_table{border:0px; border-collapse:collapse; float:left; margin-left:32px; margin-top:16px; width:320px; display:inline}
.login_table_text1{width:47px; text-align:left; font-size:12px}
.login_table_text1_1{width:182px; text-align:left}
.login_table_text1_input{
	width:172px;
	border:#0a8fda 1px solid;
	background-color:#E8F9FF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:5px 3px
}
.login_table_text1_img{ width:88px;height:21px; background-image:url(main-pic.gif); background-repeat:no-repeat; background-position:-410px -74px;float:left;display:inline}
.login_table_space1{height:14px; border-collapse:3px}
.login_table_space3{height:18px; border-collapse:3px}
.login_table_text2{width:47px; text-align:left; font-size:12px}
.login_table_text2_1{width:230px; height:18px; float:left; margin-left:45px; display:inline;position:relative;}
.login_table_text2_2{text-align:left; font-size:12px}
.login_table_select{width:180px;height:22px;border:1px solid #84a1bd; float:left}
.btn1,.btn2{width:86px; height:33px; background-image:url(main-pic.gif); background-repeat:no-repeat;border:0px; float:left; margin-left:47px; cursor:pointer!important;cursor:hand; display:inline}
.btn1{ background-position:-310px -11px}
.btn2{ background-position:-211px -11px}
.btn3{width:86px; height:33px; background-image:url(main-pic.gif); background-repeat:no-repeat;border:0px; float:left; margin-left:31px; cursor:pointer!important;cursor:hand; display:inline}
.btn3{ background-position:-12px -11px}
.btn3:hover{ background-position:-111px -11px}
.login_table_space2{width:319px; height:15px; background-image:url(main-pic.gif); background-repeat:no-repeat; background-position:-8px -204px;float:left; margin-top:15px; margin-left:0px;display:inline}
.login_table_text3{width:240px; height:45px; font-size:12px; color:#818181; text-align:left; line-height:24px;  margin-left:30px; float:left;display:inline}

.bottom1{height:26px; width:795px; background-color:#e5f8ff; background-image:url(main-pic.gif); background-repeat:no-repeat; background-position:-8px -159px; clear:both; margin-top:4px; margin-left:auto; margin-right:auto}
.bottom1_text1{height:12px; width:60px; float:left; text-align:left; font-size:12px; font-weight:bold; color:#087ad4; margin-top:7px; margin-left:12px}
.bottom1_table{margin-top:4px; margin-left:45px; font-size:12px; color:#0068c1; border:0px; float:left; display:inline}
.bottom1_img{width:3px; height:9px; background-image:url(main-pic.gif); background-color:#e6f7ff; background-repeat:no-repeat; background-position:-310px -122px}
.bottom1_text2,.bottom1_text3,.bottom1_text4{float:left; text-align:left; font-size:12px; color:#0068c1; margin-left:3px}
.bottom1_text2{width:173px}
.bottom1_text3{width:230px}
.bottom1_text4{width:188px}

.bottom2{width:795px; height:58px; background-color:#e6f7ff; margin-top:25px; margin-left:auto; margin-right:auto; background-image:url(main-pic.gif); background-color:#e6f7ff; background-repeat:no-repeat; background-position:-8px -223px}
.bottom2_hidden{clear:both; height:10px; font-size:0px; overflow:hidden}
.bottom2_text{font-size:12px; color:#848585; text-align:center; clear:both;line-height:22px;font-family:Verdana, Arial, Helvetica, sans-serif}
