body,td,.p1,.p2,.i{font-family:arial}
body{margin:6px 0 0 0;background-color:#fff;color:#000;}
table{
	border:0;
}
TD{
	FONT-SIZE:10pt;
	LINE-HEIGHT:18px;
}
.f14{
	FONT-SIZE:14px;
}
.f10{font-size:10.5pt}
.f16{font-size:16px;font-family:Arial}
.c{color:#7777CC;}
.p1{LINE-HEIGHT:120%;margin-left:-12pt}
.p2{width:100%;LINE-HEIGHT:120%;margin-left:-12pt}
.i{font-size:16px}
.t{COLOR:#0000cc;TEXT-DECORATION:none}
a.t:hover{TEXT-DECORATION:underline}
.p{padding-left:18px;font-size:14px;word-spacing:4px;}
.h{margin-left:8px;width:100%}
.s{width:8%;padding-left:10px; height:25px;}
.m,a.m:link{COLOR:#666666;font-size:100%;}
a.m:visited{COLOR:#660066;}
.g{color:#008000; font-size:12px;}
.r{ word-break:break-all;cursor:hand;width:238px;}
.bi {
	background-color:#d9e1f7;
	height:20px;
	margin-bottom:12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d9e1f7;
}
.pl{padding-left:3px;height:8px;padding-right:2px;font-size:14px;}
.Tit{
	height:21px;
	font-size:13px;
}
.Tit a{color:#00c;}
.fB{ font-weight:bold;}
.mo,a.mo:link,a.mo:visited{COLOR:#666666;font-size:100%;line-height:10px;}
.htb{margin-bottom:5px;}
#ft{clear:both;line-height:20px;background:#FFFFFF;text-align:center}
#ft,#ft *{color:#77C;font-size:12px;font-family:Arial}
#botForm {
	border-bottom: 1px #ace solid;
	border-top: 1px solid #ace;
	margin-top: 15px;
	text-align: center;
}
#botForm div {
    border-bottom: 0px #fff solid;
    border-top: 0px solid #fff;
    background: #E4F1FC;
    padding: 20px 30px;
}
#ft span{color:#666}
form{
	margin:0;
	position:relative;
	z-index:9;
	width: 100%;
}
#statcode{text-align:center;display:none;}
#left_list{padding:10px;border-right:1px dotted #cccccc;}
#left_list li{list-style-type:none;line-height:20px;}
#left_list li a{COLOR:#00c;font-size:100%;font-size:13px;display:block;}
#left_list li a:hover,.list_select a{COLOR:#00c;font-size:100%;font-size:13px;font-weight:bold;background-color:#E0E8FC;border-bottom:1px solid #C9D5F7;
}
a.nav_selected{font-weight:bold;color:#000000;text-DECORATION:none;}
#page {
	MARGIN-TOP: 18px; MARGIN-BOTTOM: 28px; WHITE-SPACE: nowrap; HEIGHT: 26px
}
#page .pg {
	FONT-SIZE: 14px;
	TEXT-ALIGN: left;
	padding-left: 18px;
}
#page .pg A {
	BORDER-RIGHT: #b2d0ea 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #b2d0ea 1px solid; DISPLAY: inline; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; MARGIN: 0px 1px 0px 0px; BORDER-LEFT: #b2d0ea 1px solid; COLOR: #03c; PADDING-TOP: 3px; BORDER-BOTTOM: #b2d0ea 1px solid; ZOOM: 1; FONT-FAMILY: 'Tahoma'; TEXT-DECORATION: none
}
#page .pg A:link {
	BORDER-RIGHT: #b2d0ea 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #b2d0ea 1px solid; DISPLAY: inline; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; MARGIN: 0px 1px 0px 0px; BORDER-LEFT: #b2d0ea 1px solid; COLOR: #03c; PADDING-TOP: 3px; BORDER-BOTTOM: #b2d0ea 1px solid; ZOOM: 1; FONT-FAMILY: 'Tahoma'; TEXT-DECORATION: none
}
#page .pg A:visited {
	BORDER-RIGHT: #b2d0ea 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #b2d0ea 1px solid; DISPLAY: inline; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; MARGIN: 0px 1px 0px 0px; BORDER-LEFT: #b2d0ea 1px solid; COLOR: #03c; PADDING-TOP: 3px; BORDER-BOTTOM: #b2d0ea 1px solid; ZOOM: 1; FONT-FAMILY: 'Tahoma'; TEXT-DECORATION: none
}
#page .pg A:hover {
	BORDER-RIGHT: #2b55af 1px solid; BORDER-TOP: #2b55af 1px solid; BACKGROUND: #3666d4; BORDER-LEFT: #2b55af 1px solid; COLOR: #fff; BORDER-BOTTOM: #2b55af 1px solid
}
#page .pg SPAN.current {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fff 1px solid; DISPLAY: inline; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px 5px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #fff 1px solid; ZOOM: 1; FONT-FAMILY: 'Tahoma'
}
#page .pg SPAN.extend {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px; ZOOM: 1
}
#page .pg A.pre {
	MARGIN: 0px 5px 0px 0px
}
#page .pg A.next {
	MARGIN: 0px
}
.tj{margin:0 17px 0 17px;padding:10px 0 2px 0;clear:both;border-top:1px solid #ccc;border-top-style:dashed;font-size:14px;color:#000;line-height:160%;}
.tj b{font-size:14px;}
.tj em{color:#c03;text-decoration:underline;}
.tj th{white-space:nowrap;width:76px;text-align:left;}
.tj td{padding-right:41px;}
.tj a{font-size:14px;}
.a_d{ background-color: #EDF2FE;border:1px solid #f5f5f5;padding: 3px; }
