
BODY {
	BACKGROUND: #fff;
	TEXT-ALIGN: center;
	font-family: arial;
	font-size: 13px;
	color: #77c;
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	POSITION: relative
}

#fm {
	POSITION: relative
}
TD {
	TEXT-ALIGN: left
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #00c
}
A:active {
	COLOR: #F90
}
#u {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 7px; TEXT-ALIGN: right
}
#m {
	MARGIN: 0px auto; WIDTH: 680px
}
#nv {
	FONT-SIZE: 16px; MARGIN: 0px -12px 4px; TEXT-INDENT: 117px; TEXT-ALIGN: left
}
#nv A {
	FONT-SIZE: 14px
}
#nv B {
	FONT-SIZE: 14px
}
.btn {
	FONT-SIZE: 14px
}
#lk {
	FONT-SIZE: 12px
}
#fm {
	PADDING-LEFT: 90px; TEXT-ALIGN: left
}
#kw {
	BORDER-RIGHT: #cdcdcd 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #9a9a9a 1px solid; PADDING-LEFT: 7px; BACKGROUND: url(../images/i2.png) no-repeat; PADDING-BOTTOM: 2px; FONT: 16px arial; VERTICAL-ALIGN: top; BORDER-LEFT: #9a9a9a 1px solid; WIDTH: 420px; PADDING-TOP: 6px; BORDER-BOTTOM: #cdcdcd 1px solid; HEIGHT: 32px}
.btn {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/i2.png) #ddd 0px -35px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 95px; CURSOR: pointer; PADDING-TOP: 2px; HEIGHT: 32px; BORDER-RIGHT-WIDTH: 0px
}
.btn_h {
	BACKGROUND-POSITION: -100px -35px
}
#kw {
	MARGIN: 0px 5px 0px 0px
}
.btn_wr {
	MARGIN: 0px 5px 0px 0px
}
.btn_wr {
	DISPLAY: inline-block; BACKGROUND: url(../images/i2.png) no-repeat -202px bottom; WIDTH: 97px; POSITION: relative; HEIGHT: 34px; _padding-top: 1px
}
#lk {
	MARGIN: 30px 0px
}
#lk SPAN {
	FONT: 12px "宋体"
}
#lm {
	HEIGHT: 60px
}
#lh {
	MARGIN: 16px 0px 5px; WORD-SPACING: 3px
}
#mCon {
	PADDING-RIGHT: 18px; PADDING-LEFT: 0px; RIGHT: 5px; BACKGROUND: url(../images/arr.gif) no-repeat right 0px; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 0px; POSITION: absolute; TOP: 11px}
#mCon SPAN {
	DISPLAY: block; CURSOR: default; COLOR: #00c; PADDING-TOP: 2px
}
#mCon .hw {
	CURSOR: pointer; TEXT-DECORATION: underline
}
#mMenu {
	BORDER-RIGHT: #9a99ff 1px solid; BORDER-TOP: #9a99ff 1px solid; DISPLAY: none; RIGHT: 7px; BACKGROUND: #fff; BORDER-LEFT: #9a99ff 1px solid; WIDTH: 56px; BORDER-BOTTOM: #9a99ff 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 28px
}
#mMenu A {
	DISPLAY: block; WIDTH: 100%; TEXT-INDENT: 6px; LINE-HEIGHT: 22px; HEIGHT: 100%; TEXT-DECORATION: none
}
#mMenu A:hover {
	BACKGROUND: #d9e1f6
}
#mMenu .ln {
	FONT-SIZE: 1px; BACKGROUND: #ccf; MARGIN: 2px; OVERFLOW: hidden; LINE-HEIGHT: 1px; HEIGHT: 1px
}
#cp {
	COLOR: #77c
}
#cp A {
	COLOR: #77c
}
.STYLE1 {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
}
.STYLE3 {color: #CCC}

#sc {
	MARGIN: 0px auto 40px; WIDTH: 500px
}
#s {
	POSITION: relative
}
#s {
	BACKGROUND: url(../images/soso_sp.png) no-repeat
}
#s_input {
	BACKGROUND: url(../images/soso_sp.png) no-repeat
}
#s_button {
	BACKGROUND: url(../images/soso_sp.png) no-repeat
}
#s {
	BACKGROUND-POSITION: -85px 0px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 0px; HEIGHT: 36px
}
#s_input {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; BACKGROUND-POSITION: -85px -36px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; FONT: 16px Arial; WIDTH: 402px; PADDING-TOP: 10px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 36px; BORDER-RIGHT-WIDTH: 0px
}
#s_button {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 85px; CURSOR: pointer; TEXT-INDENT: -9999px; HEIGHT: 36px; BORDER-RIGHT-WIDTH: 0px
}
a:link {
	color: #059;
}
a:visited {
	color: #059;
}
body,td,th {
	color: #059;
}
.STYLE4 {font-size: 12px}




#hwr_div {
	POSITION: absolute
}
.hwr_hidden {
	LEFT: -1000px; TOP: 0px
}
.hwr_visible {
	LEFT: 0px; TOP: 30px
}
.go {
	FONT-SIZE: 14px; HEIGHT: 30px
}
#close_sug {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
SUP {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: red; PADDING-TOP: 0px; FONT-FAMILY: arial; TEXT-DECORATION: none
}




P {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	font-family: arial, "宋体", sans-serif;
	font-size: 12px;
	line-height: 1.5;
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 13px/1.5 arial,"宋体",sans-serif; PADDING-TOP: 0px
}
SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	font-family: Arial, "宋体", sans-serif;
	font-size: 12px;
	line-height: 1.5;
}
#topbar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; BORDER-BOTTOM: #e4edf9 1px solid; HEIGHT: 26px; TEXT-ALIGN: right
}
#topbar .nav {
	FLOAT: left
}
.nav A {
	MARGIN-RIGHT: 15px
}
.nav B {
	MARGIN-RIGHT: 15px
}
#topbar A {
	TEXT-DECORATION: none
}
#logos:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#logo {
	MARGIN: 30px auto 10px
}
#tips {
	CLEAR: both; HEIGHT: 20px
}
#tips {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; COLOR: #999; PADDING-TOP: 3px
}
#com {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; COLOR: #999; PADDING-TOP: 3px
}
#com {
	MARGIN-TOP: 10px; WIDTH: 700px; COLOR: #666
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; WIDTH: 500px; POSITION: relative
}
#footer {
	COLOR: #999
}
#footer A {
	COLOR: #999
}
#footer A:hover {
	BACKGROUND: #fff
