#SfMessWrap{width:209px;text-align:center;position:absolute;}

#SfMessHead{
	background:url(imgs/bg.gif);
	height:26px;
	text-indent:6px;
	font-size:12px;
	color:#fefdfd;
	text-align:left;
	cursor:pointer;
}
#SfMessHead #SfMessTitle{float:left;line-height:20px;margin-top:6px;}
#SfMessHeadIcon{
	float:right;
	width:20px;
	height:19px;
	background-image:url(imgs/icon.gif);
	margin:5px 5px 0 0;
}
.SfMessIconOpen{background-position:top;}
.SfMessIconClose{background-position:bottom;}

#SfMessBody{width:100%;font-size:12px;}
#SfMessBodyTop{display:none;}
#SfMessBodyMid #SfMessTipmessage{padding-left:8px;line-height:20px;margin:0;
	display:block;height:20px;background:url(imgs/bg.gif) 0 -26px;color:#755240;}
#SfMessBodyMid{
	width:209px;
	text-align:left;
	background:url(imgs/bg.gif) right repeat-y;
	padding-bottom:5px;
}

#SfMessBodyMid input {
	border:0;
	color:#a39890;
	width:164px;
	height:17px;
	background:none;
	font-size:12px;
	margin:2px 0 0 23px;
	padding:0;
}

#SfMessBodyMid textarea {
	width:185px;
	height:78px;
	border:1px solid #c57954;
	overflow:hidden;
	background:#fff;
	font-size:12px;
	color:#a39890;
}

#SfMessBodyMid div {
	margin:5px 0 0 9px;
	height:21px;
}
#SfMessBodyMid .message {
	display:inline;
}
#SfMessBodyMid .tel {background:url(imgs/input.gif) no-repeat;}
#SfMessBodyMid .address {background:url(imgs/input.gif) 0 -42px no-repeat;}
#SfMessBodyMid .email {background:url(imgs/input.gif) 0 -21px no-repeat;}
#SfMessBodyMid .must, #SfMessBodyMid .ignore, #SfMessBodyMid .other {background:url(imgs/input.gif) 0 -63px no-repeat;}

#SfMessBodyBottom{
	margin:0;
	width:209px;
	height:42px;
	background:url(imgs/bg.gif) 0 bottom no-repeat;
}

#SfMessSubmit{
	background:url(imgs/send.gif) no-repeat;
	color:#9b4500;
	width:66px;
	height:19px;
	border:0;
	float:left;
	margin:9px 0 0 11px;
}

#SfMessCopy{
	float:right;
	margin:12px 2px 0 0;
	line-height:14px;
	font-size:12px;
	color:#754641;
	padding-right:10px;
}

.SfMessTip{display:none;}
#SfMessBodyFoot{display:none;}