@charset "gb2312";
span{display:inline-block;}
.Opened,.Closed {
	color:white;
}
.Opened span{
	font-size:14px;
	cursor:pointer;
	font-size:14px;
	height:25px;
	line-height:22px;
	line-height:25px\9;
	padding-left:7px;
	width:102px;
	_width:99px;
}
.Opened .mode{
	background:url(../img/open.gif) no-repeat 0 0;
	position:relative;
	cursor:pointer;
	width:11px;
	height:11px;
	top:6px;
	left:8px;
	float:left;
}
.Opened ul
{
	display:block;
	color:white;
	font-size:14px;
}
.Opened li
{
	cursor:pointer;
}

.Closed span{
	font-size:14px;
	cursor:pointer;
	padding-left:7px;
	width:102px;
	_width:99px;
}
.Closed .mode{
	background-position:0 0px;
	background:url(../img/close.gif) no-repeat 0 0;
	width:11px;
	height:11px;
	position:relative;
	font-size:14px;
	cursor:pointer;
	top:6px;
	left:8px;
	float:left;
}
.Closed ul
{
	display:none;
}
.itemSelect{
	font-weight:bold;
	color:#3A68A0;
}
.itemUnSelect{
	color: white;
	font-weight: normal;
}
.childUnSelect{
	padding-left:26px;
	color: white;
	font-weight: normal;
	font-size:14px;
	cursor:pointer;
}
.childSelect{
	color:#3A68A0;
	padding-left:26px;
	_padding-left:26px;
	background-color:#fff;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	width:103px;
	margin-bottom:2px;
	height:25px;
	line-height:22px;
	line-height:25px\9;
    _margin-right:-2px;
}
.childSelect  a{color: #3A68A0;text-decoration: none;}
.childUnSelect  a{color: #fff;text-decoration: none;}

.menu{border-left:1px solid #3E8DD1;border-right:1px solid #3E8DD1;padding:0 0 170px 12px;margin:0;}
.menu ul{padding-right:0;margin:0; }
.menu li.Opened ul.childUnSelect{padding:4px 0;}
.menu li.Closed,.menu li.childUnSelect{background:url(../img/menu_bg.gif) no-repeat;height:25px;line-height:22px;line-height:25px\9;margin:0 0 2px;}
.menu li.Opened ul.childUnSelect li{background-image:none;height:25px;line-height:22px;line-height:25px\9;position:relative;left:22px;padding-left:4px;margin-bottom:2px;width:103px;}
.menu li.Opened ul.childUnSelect .childSelect{background-color:#fff;}
.Opened.itemUnSelect,.Opened.itemSelect{background:url(../img/menu_bg.gif) no-repeat;}
.itemSelect span{color:#fff;width:102px;_width:99px;}
