@import url(div.css);

*{margin:0;padding:0; }
body{font:12px arial; margin:0 auto}
ul,li{list-style:none}
img{border:none}
a{color:#048;font:12px arial;text-decoration:none;}
a:hover{color:#FF0000;text-decoration:underline;}
em{ font-style:normal}
#topw{height:14px;padding:4px;background:#F1FAFE;border-bottom:1px solid #E0EFF8}
#top{width:960px;margin:0 auto}
#header_left{float:left;display:block;}
#header_links{float:right;margin-left:20px}
#header_links dl dd{margin:0 0 0 9px;padding:0;float:left;}
#wrap,#search{width:960px;margin:10px auto;overflow:hidden;_overflow:visible;_height:0}
#search{height:100px}
#search_l,#search_r{width:4px;height:100px;float:left}
#search_l{ background:url(../images/index_bg.jpg)}
#search_r{ background:url(../images/index_bg.jpg) -6px 0}
#search_c{float:left;height:98px;border-top:1px solid #C4DDEC;border-bottom:1px solid #C4DDEC;background:#D7EDFB;width:952px}
#logo{float:left;display:inline;margin:30px 10px 0 60px;width:206px;height:48px;background:url(../images/index_bg.jpg) -11px -34px}
#ipt{float:left;padding:6px 0}
#ipt li{padding:4px 0 0}
.ipt_sr{height:30px;line-height:30px;width:500px}
#iptbt{float:left;width:100px;height:32px;background:url(../images/index_bg.jpg) -11px 0;border:none;margin:30px 0 0 10px}
#ipt li.ipt_t{color:#999}
#ipt li.ipt_b{font-size:14px}
#ipt li.ipt_b input{margin-right:4px}
#ipt li.ipt_b em{display:inline-block;margin-right:20px}

.listleft {float:left;width:720px;}

.tiezi {width:348px;float:left;border:1px solid #E0EFF8;margin-right:10px;padding-bottom:10px;}
.tiezi h1 {font-size:14px;font-weight:bold;color:#048;padding:4px 10px;height:14px;background:#E6F3FB;border-bottom:1px solid #E0EFF8}
.tiezi li {width:330px;height:14px;overflow:hidden;padding:9px 0 0 10px}

.category {float:left;width:708px;margin-top:10px;border:1px solid #E0EFF8}
.category h1 {font-size:14px;font-weight:bold;color:#048;padding:4px 10px;height:14px;background:#E6F3FB;border-bottom:1px solid #E0EFF8}
.category dl {float:left;width:326px;margin:14px 14px 0 14px;_margin:14px 9px 0 9px}
.category dt {height:25px;}
.category dt a {font-weight:bold;}
.category dd {height:25px;}
.category dd a {margin-right:6px}

.friend {float:left;width:708px;margin-top:10px;border:1px solid #E0EFF8}
.friend a {color:#09f;font-weight:bold}
.friend h1 {font-size:14px;font-weight:bold;color:#048;padding:4px 10px;height:14px;background:#E6F3FB;border-bottom:1px solid #E0EFF8}
.friend div {text-align:center;padding:21px 10px}
.friend a {margin:0 10px}

.listright {float:right;width:240px;}

.tieba {float:right;width:238px;border:1px solid #E0EFF8}
.tieba h1 {font-size:14px;font-weight:bold;color:#048;padding:4px 10px;height:14px;background:#E6F3FB;border-bottom:1px solid #E0EFF8}
.tieba dl {margin:10px;padding-bottom:9px;border-bottom:1px dashed #C7C7C7;}
.tieba dt {height:20px;}
.tieba dt a {color:#09f;font-weight:bold}
.tieba dd {height:15px;width:218px;overflow:hidden;color:#048;}

.member{float:right;width:238px;border:1px solid #E0EFF8;margin-top:10px;padding-bottom:14px;}
.member h1 {font-size:14px;font-weight:bold;color:#048;padding:4px 10px;height:14px;background:#E6F3FB;border-bottom:1px solid #E0EFF8}
.member li {width:42px;height:58px;overflow:hidden;text-align:center;float:left;margin:14px 0 0 14px;_margin-left:10px}
.member li img {border:1px solid #ccc}
.member a {line-height:18px;}

#foot{clear:both;padding:10px;text-align:center;color:#999}