{template header}
<div class="path">{lang menu_web_map}<a href="">{$site_name}</a> &gt;&gt; {lang menu_notice}</div>
<br />
<div id=center2>
<div class="t3 bcb"><div class="t3t bgb">{lang menu_notice}</div></div>
<div class="b3 bcb mb12 w100">
<table cellspacing=0 cellpadding="0" width="100%" border="0">
<tr><td class="f14b" height="35" align="center">{$notice['title']}</td></tr>
<tr><td class="f13" height="35" align="center">{$notice['author']}&nbsp;&nbsp;{$notice['time']}</td></tr>
<tr><td height="200" align="left" valign="top"><div>{$notice['content']}</div></td></tr>
</table>
</div>
</div>
<br />
{template footer}